#container {
    height: 500px;
    width: 500px;
    background-color: grey;
    display: grid;
    margin: auto;
}

#grid-item-head {
    grid-column: span 4;
    margin: 20px;
    background-color: white;
}

.grid-item-button {
    justify-self: center;
    align-self: center;
    background-color: grey;
}

#grid-item-foot {
    grid-column: span 4;
    justify-self: center;
    align-self: center;
    background-color: grey;
}